.techGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 450px;
  justify-content: space-between;

  @media (min-width: 500px) {
    gap: 2rem;
  }
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 10px;
  padding-top: 1rem;

  border-radius: 15px;
  box-shadow: hsla(250, 10%, 10%, 0.2) 1px 1px 20px;

  &.dark {
    color: var(--text-color-dark);
    background-color: var(--nav-bg-color-dark);
  }

  &.light {
    color: var(--text-color-light);
    background-color: var(--nav-bg-color-light);
  }

  p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.8rem;
  }
}
