// .link {
// }

.btn {
  font-family: "SF Mono", serif;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  border: solid 2px var(--accent-color);
  color: var(--accent-color);
  padding: 1rem 1.2rem;
  border-radius: 3px;
  transition: all 0.9s;

  @media (min-width: 900px) {
  }
}
