// .link {
// }

.btn {
  font-family: "SF Mono", serif;
  cursor: pointer;

  font-size: 1rem;
  background-color: transparent;
  padding: 8px 10px;
  border-radius: 3px;

  // @media (min-width: 900px) {
  //   position: fixed;
  //   top: 1rem;
  //   right: 1rem;
  // }

  &.dark {
    border: solid 2px var(--accent-color-dark);
    color: var(--accent-color-dark);
  }

  &.light {
    border: solid 2px var(--accent-color-light);
    color: var(--accent-color-light);
  }
}
