.projectsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media (min-width: 768px) {
    gap: 2rem;
  }
}

.p {
  text-align: center;
  max-width: 750px;
}

.projectGrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  width: 100%;
  max-width: 750px;
  height: auto;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    max-width: fit-content;
    gap: 3rem;

    /* For the first card */
    :nth-child(1) {
      grid-column: 1 / span 2;
      grid-row: 1;
    }

    /* For the second card */
    :nth-child(3) {
      /* considering both ProjectCard and the divider for indexing */
      grid-column: 3 / span 2;
      grid-row: 1;
    }

    /* For the third card */
    :nth-child(5) {
      grid-column: 2 / span 2;
      grid-row: 2;
    }
  }
}

.divider {
  width: 50%;
  height: 1px;
  background-color: rgba(190, 190, 190, 0.1);
  justify-self: center;

  &:last-child {
    display: none;
  }

  @media (min-width: 768px) {
    display: none;
  }
}
