.projectsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.isOpen {
    filter: blur(8px);
  }
}

.projectGrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  width: 100%;
  max-width: 750px;
  height: auto;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    max-width: fit-content;
    gap: 3rem;
  }
}

.divider {
  width: 50%;
  height: 1px;
  background-color: rgba(190, 190, 190, 0.1);
  justify-self: center;

  &:last-child {
    display: none;
  }

  @media (min-width: 768px) {
    display: none;
  }
}
