.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 2rem 0;
  border-radius: 2px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  // background-color: hsl(250, 50%, 15%);
  // box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.iconContainer {
  display: flex;
  gap: 1rem;
}

.icon {
  color: var(--text-color-dark);
  font-size: 1.6rem;

  transition: all ease-out 0.1s;

  &:hover {
    color: var(--accent-color);
    transform: scale(1.1);
  }
}

.swiper {
  position: relative;
  display: flex;
}

.swiperInner {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    scroll-snap-align: start;
  }

  &.scrollRight {
    transform: translateX(-33%);
  }
}

.navigation {
  position: absolute;
  height: 100%;
  width: calc(15% - 10px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color-dark);
  opacity: 0.5;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  button {
    padding: 5px;
    cursor: pointer;
  }

  &:hover {
    background-color: red;
    button {
      display: block;
    }
  }
}
