.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 2px;
  background-color: #131939;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.iconContainer {
  display: flex;
  gap: 1rem;
}

.icon {
  color: var(--text-color-dark);
  font-size: 1.6rem;

  transition: all ease-out 0.1s;

  &:hover {
    color: var(--accent-color);
    transform: scale(1.1);
  }
}
