.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  // max-width: 500px;
  gap: 1rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.input,
.message {
  width: 100%;
  background-color: hsl(250, 50%, 15%);
  border: solid 2px hsl(250, 50%, 15%);
  outline: transparent;
  padding: 8px;
  font-size: 1rem;
  color: var(--text-color-dark);
  border-radius: 2px;

  &:focus {
    border: solid 2px var(--accent-color);
  }

  &:hover {
    border: solid 2px var(--accent-color);
  }
}

.button {
  width: 100%;
  border-radius: 3px;
  background-color: var(--accent-color);
  border: transparent;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px;
  color: hsl(250, 15%, 10%);
  cursor: pointer;

  &:hover {
    background-color: hsla(50, 90%, 80%);
  }
}

.message {
  height: 200px;
  resize: none;
}
