.heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;

  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: 900px) {
    height: 100vh;
  }
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
  height: 100%;

  transition: all 0.2s ease-in-out;
}

.hi {
  font-family: "IBM Plex Mono", monospace;
  margin-left: 4px;

  &.dark {
    color: var(--accent-color-dark);
  }

  &.light {
    color: var(--accent-color-light);
  }
}

.h1 {
  font-family: sans-serif;
  font-size: 4rem;
  word-wrap: break-word;

  &.dark {
    color: var(--header-color-dark);
  }

  &.light {
    color: var(--header-color-light);
  }

  @media (min-width: 768px) {
    font-size: 5rem;
  }
}

.p {
  max-width: 500px;
}
