.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: calc(100svh - var(--nav-height));
  height: 100svh;

  @media (min-width: 900px) {
    height: 100vh;
  }
}

.hero {
  --before-elements-size: 75px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
  height: 100%;

  transition: all 0.2s ease-in-out;

  &.isOpen {
    filter: blur(8px);
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   border-top: 1px solid var(--text-color-dark);
  //   border-left: 1px solid var(--text-color-dark);
  //   width: var(--before-elements-size);
  //   height: var(--before-elements-size);
  //   top: 0;
  //   left: 0;
  //   border-top-left-radius: 5px;
  // }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   border-bottom: 1px solid var(--text-color-dark);
  //   border-right: 1px solid var(--text-color-dark);
  //   width: var(--before-elements-size);
  //   height: var(--before-elements-size);
  //   bottom: 0;
  //   right: 0;
  //   border-bottom-right-radius: 5px;
  // }

  // &.isOpen::before,
  // &.isOpen::after {
  //   visibility: hidden;
  // }
}

.hi {
  font-family: "SF Mono", serif;
  margin-left: 4px;

  &.dark {
    color: var(--accent-color-dark);
  }

  &.light {
    color: var(--accent-color-light);
  }
}

.h1 {
  font-family: sans-serif;
  font-size: 4rem;
  word-wrap: break-word;

  &.dark {
    color: var(--header-color-dark);
  }

  &.light {
    color: var(--header-color-light);
  }

  @media (min-width: 900px) {
    font-size: 5rem;
  }
}

.p {
  font-family: sans-serif;
  margin-left: 5px;
}

.img {
  transform: perspective(1000px) rotateX(4deg) rotateY(-16deg) rotateZ(4deg) translateX(-10px);
  box-shadow: 24px 16px 64px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  // position: absolute;
  // top: 0;
  // margin: auto 0;
  opacity: 0.2;
}
