.hero {
  --before-elements-size: 150px;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 700px;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid var(--text-color-dark);
    border-left: 1px solid var(--text-color-dark);

    width: var(--before-elements-size);
    height: var(--before-elements-size);
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--text-color-dark);
    border-right: 1px solid var(--text-color-dark);

    width: var(--before-elements-size);
    height: var(--before-elements-size);
    bottom: 0;
    right: 0;
  }
}

.hi {
  font-family: "SF Mono", serif;
  margin-left: 4px;
  color: var(--accent-color);
}

.h1 {
  font-family: sans-serif;
  font-size: 2.5rem;
  color: hsl(240, 20%, 85%);
}

.p {
  font-family: sans-serif;
  margin-left: 5px;
}
