@import url("https://fonts.cdnfonts.com/css/sf-mono");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // scroll-padding-top: var(--nav-height);
  scroll-behavior: smooth;

  @media (min-width: 900px) {
    // scroll-padding-top: 1rem;
  }
}

html {
  letter-spacing: 0.8px;
}

body {
  font-family: sans-serif;
  color: var(--text-color-dark);
  line-height: 150%;

  &.noScroll {
    overflow: hidden;
  }
}

h1,
h2 {
  color: var(--header-color-dark);
}

h2 {
  font-family: "SF Mono", serif;
  font-weight: 500;
}

h3 {
  font-weight: 500;
  color: var(--accent-color);
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;

  @media (min-width: 900px) {
    font-size: 1.2rem;
  }
}
