@import url("https://fonts.cdnfonts.com/css/sf-mono");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (min-width: 900px) {
    // scroll-padding-top: 1rem;
  }
}

html {
  letter-spacing: 0.8px;
}

body {
  font-family: sans-serif;

  &.noScroll {
    overflow: hidden;
  }
}

main {
}

section {
  padding: 1rem 0;
}

h1,
h2 {
  &.dark {
    color: var(--header-color-dark);
  }

  &.light {
    color: var(--header-color-light);
  }
}

h2 {
  font-family: "SF Mono", serif;
  font-weight: 500;
}

h3 {
  font-weight: 500;

  &.dark {
    color: var(--accent-color-dark);
  }

  &.light {
    color: var(--accent-color-light);
  }
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 150%;

  @media (min-width: 900px) {
    font-size: 1.2rem;
  }

  &.dark {
    color: var(--text-color-dark);
  }

  &.light {
    color: var(--text-color-light);
  }
}

button {
  font-weight: 500;
}
