.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100svh;

  transition: all 0.2s ease-in-out;

  &.isOpen {
    filter: blur(8px);
  }

  @media (min-width: 900px) {
    padding-left: var(--sidebar-width);
  }
}

// .aboutSection {
// }

.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.techGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-self: center;
  margin-top: 2rem;
}

.gridItem {
  font-size: 2.5rem !important;
  color: var(--accent-color);
}

.projectsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectGrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  height: auto;
}
