.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100svh;

  transition: all 0.2s ease-in-out;

  &.isOpen {
    filter: blur(8px);
  }

  @media (min-width: 900px) {
  }
}

.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;

  // gap: 1rem;
  // max-width: 500px;

  // @media (min-width: 900px) {
  //   max-width: fit-content;
  // }
}

.aboutBtm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  @media (min-width: 900px) {
    flex-direction: row;
    gap: 1rem;
  }
}

.aboutText {
  max-width: 500px;

  p {
    margin-top: 1rem;
  }
}

.techGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.gridItem {
  display: flex;
  justify-content: center;
  font-size: 2.5rem !important;
  color: var(--accent-color);
}

.projectsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectGrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 750px;
  height: auto;

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    max-width: fit-content;
  }
}

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
