#scroll-to-projects {
  scroll-padding-top: 1rem;
}

.projectsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsWrapper {
  display: flex;
  flex-direction: column;

  h2 {
    padding: var(--section-padding-mob);

    @media (min-width: 800px) {
      padding: 0;
    }
  }
}

.projectGrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  // gap: 3rem;
  width: 100%;
  max-width: 750px;
  height: auto;

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    max-width: fit-content;
    gap: 2rem;
  }
}

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 1rem;
}
