.wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  background-color: var(--background-color-dark);
}
