:root {
  --nav-height: 4rem;
  --sidebar-width: 163.4px;

  /* colors */
  --accent-color: #3dd6f5;
  /* dark theme */
  --background-color-dark: #121730;
  --text-color-dark: hsla(240, 20%, 75%);
  --nav-background-color-dark: #120e25;
}
