:root {
  --nav-height: 4rem;

  /* COLOURS */
  /* --accent-color: hsl(190, 100%, 70%); */
  /* --accent-color: hsl(300, 100%, 75%); */
  /* --accent-color: hsl(50, 50%, 80%); */

  /* dark theme */
  --background-color-dark: hsl(250, 45%, 12%);
  --text-color-dark: hsl(250, 15%, 65%);
  --header-color-dark: hsl(250, 20%, 90%);
  --nav-bg-color-dark: hsl(250, 50%, 7%);
  /* --accent-color-dark: hsl(50, 50%, 80%); */
  --accent-color-dark: hsl(290, 50%, 70%);

  /* light theme */
  --bg-color-light: hsl(250, 10%, 90%);
  --text-color-light: hsl(250, 20%, 40%);
  --header-color-light: hsl(250, 20%, 30%);
  --nav-bg-color-light: hsl(250, 20%, 80%);
  --accent-color-light: hsl(240, 90%, 40%);
  --accent-color-light: hsl(175, 80%, 30%);
}
