.skillsSection {
  // background-color: var(--nav-bg-color-dark);
}

.skillsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;

  p {
    text-align: center;
    max-width: 750px;
  }

  @media (min-width: 768px) {
    gap: 2rem;
  }
}
