.wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  transition: ease-in-out 0.2s;

  &.dark {
    background-color: var(--background-color-dark);
  }

  &.light {
    background-color: var(--bg-color-light);
  }

  @media (min-width: 500px) {
    padding: 0 2rem;
  }

  // @media (min-width: 768px) {
  //   padding: 0 3rem;
  // }

  @media (min-width: 1200px) {
    padding: 0 8rem;
  }
}
