.wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  transition: ease-in-out 0.2s;

  &.dark {
    background-color: var(--background-color-dark);
    // background-color: hsl(350, 100%, 88%);
  }

  &.light {
    background-color: var(--bg-color-light);
  }

  @media (min-width: 900px) {
    padding: 0 3rem;
  }

  @media (min-width: 1200px) {
    padding: 0 5rem;
  }
}
