.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.swiper {
  position: relative;
  display: flex;
}

.swiperInner {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 900px) {
    // &::-webkit-scrollbar {
    //   display: unset;
    // }

    // &::-webkit-scrollbar-track {
    //   background: transparent;
    //   box-shadow: inset 0 0 1px rgba(200, 200, 200, 0.8);

    //   border-radius: 10px;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: rgba(255, 255, 255, 0.8);

    //   border-radius: 10px;
    // }

    // &::-webkit-scrollbar-button {
    // }

    // &::-webkit-scrollbar-button:horizontal:start:increment {
    //   display: none;
    // }

    // &::-webkit-scrollbar-button:horizontal:end:decrement {
    //   display: none;
    // }
  }
}

.img {
  min-width: 85%;
  max-width: 85%;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  img {
    border-radius: 8px;
  }
}

.titleContainer {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.iconContainer {
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 1.6rem;
  transition: all ease-out 0.1s;

  &.dark {
    color: var(--text-color-dark);

    &:hover {
      color: var(--accent-color-dark);
    }
  }

  &.light {
    color: var(--text-color-light);

    &:hover {
      color: var(--accent-color-light);
    }
  }
}

.navigation {
  display: none;

  @media (min-width: 900px) {
    display: block;
    position: absolute;
    height: 100%;
    width: calc(15% - 10px);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-dark);
    opacity: 0.5;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    button {
      display: none;
      padding: 5px;
      cursor: pointer;
    }

    &:hover {
      button {
        display: block;
      }
    }
  }
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag {
  background-color: var(--nav-bg-color-dark);
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 0.8rem;

  &.dark {
    color: var(--text-color-dark);
  }

  &.light {
    color: hsl(0, 0%, 90%);
  }

  @media (min-width: 900px) {
    font-size: 1rem;
  }
}
