.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.titleContainer {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.iconContainer {
  display: flex;
  gap: 1rem;
}

.icon {
  color: var(--text-color-dark);
  font-size: 1.6rem;

  transition: all ease-out 0.1s;

  &:hover {
    color: var(--accent-color);
    transform: scale(1.1);
  }
}

.swiper {
  position: relative;
  display: flex;
}

.swiperInner {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    scroll-snap-align: start;
    border-radius: 8px;
  }

  &.scrollRight {
    transform: translateX(-33%);
  }
}

.navigation {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(15% - 10px);
  cursor: pointer;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color-dark);
  opacity: 0.5;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  button {
    display: none;
    padding: 5px;
    cursor: pointer;
  }

  &:hover {
    button {
      display: block;
    }
  }
}

.tagContainer {
  display: flex;
  gap: 1rem;
}

.tag {
  background-color: var(--nav-bg-color-dark);
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 0.8rem;

  &.dark {
    color: var(--text-color-dark);
  }

  &.light {
    color: var(--text-color-light);
  }
}
