.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.swiperNavContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .swiperNav {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 1rem;

    &.dark {
      color: var(--text-color-dark);

      &:hover {
        filter: brightness(150%);
      }
    }

    &.light {
      color: var(--text-color-light);

      &:hover {
        filter: brightness(10%);
      }
    }

    @media (min-width: 768px) {
      display: block;
    }
  }

  .dots {
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
    margin: 0 5px;
    border: transparent;
    outline: transparent;

    &.dark {
      background-color: var(--text-color-dark);

      &:hover {
        filter: brightness(150%);
      }

      &.active {
        filter: brightness(150%);
      }
    }

    &.light {
      background-color: var(--text-color-light);

      &:hover {
        filter: brightness(10%);
      }

      &.active {
        filter: brightness(10%);
      }
    }
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconContainer {
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 1.6rem;
  transition: all ease-out 0.1s;

  &.dark {
    color: var(--text-color-dark);

    &:hover {
      color: var(--accent-color-dark);
    }
  }

  &.light {
    color: var(--text-color-light);

    &:hover {
      color: var(--accent-color-light);
    }
  }
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag {
  background-color: var(--nav-bg-color-dark);
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 0.8rem;

  &.dark {
    color: var(--text-color-dark);
  }

  &.light {
    color: hsl(0, 0%, 90%);
  }

  @media (min-width: 900px) {
    font-size: 1rem;
  }
}
