.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 1rem;

  &.isOpen {
    filter: blur(8px);
  }
}

.emailLink {
  &.dark {
    color: var(--accent-color-dark);
  }
  &.light {
    color: var(--accent-color-light);
  }

  text-decoration: underline;
}
