.sidebar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  width: 100%;
  padding: 0 1rem;
  z-index: 999;

  backdrop-filter: blur(10px);

  // .dark {
  //   background-color: hsla(250, 50%, 12%, 0.7);
  // }

  // .light {
  //   background-color: hsla(250, 50%, 90%, 0.7);
  // }

  @media (min-width: 900px) {
    position: sticky;
    flex-direction: column;
    left: 0;
    height: 100vh;
    width: fit-content;
    // width: var(--sidebar-width);
    // padding: 1rem;
    padding: 0;
    border-right: solid 1px rgba(120, 120, 120, 0.2);

    &.dark {
      background-color: var(--nav-bg-color-dark);
    }

    &.light {
      background-color: var(--nav-bg-color-light);
    }
  }
}

.logo {
  font-family: "SF Mono", serif;
  font-size: 1.2rem;

  &.dark {
    color: var(--accent-color-dark);
  }

  &.light {
    color: var(--accent-color-light);
  }

  &:hover {
    background-color: hsla(240, 50%, 80%, 0.1);
  }

  @media (min-width: 900px) {
    display: flex;
    padding: 1rem;
  }
}

.sidebarBtm {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  // height: calc(100svh - var(--nav-height));
  height: 100vh;
  z-index: -1;

  transform: translateX(100%);
  transition: ease-in-out 0.2s;

  &.dark {
    background-color: var(--nav-bg-color-dark);
  }

  &.light {
    background-color: var(--nav-bg-color-light);
  }

  &.isOpen {
    transform: translateX(0);
  }

  @media (min-width: 900px) {
    position: relative;
    width: 100%;
    transform: translate(0);
  }
}

.nav {
  width: 100%;
  font-family: "SF Mono", sans-serif;
}

.menu {
  list-style: none;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  text-align: center;

  @media (min-width: 900px) {
    display: flex;
    text-align: center;
  }
}

.item:hover {
  background-color: hsla(240, 50%, 80%, 0.1);

  .link {
    color: var(--accent-color);
  }
}

.link {
  display: block;
  padding: 1rem;

  &.dark {
    color: var(--text-color-dark);
  }

  &.light {
    color: var(--text-color-light);
  }
}

.socialMenu {
  list-style: none;
  text-align: center;

  li {
    padding: 1rem;
    position: relative;
  }

  // a:hover {
  //   .tooltip {
  //     visibility: visible;
  //   }
  // }
}

.icon {
  color: var(--text-color-dark);
  font-size: 1.6rem;
  cursor: pointer;

  transition: all ease-out 0.1s;

  &:hover {
    color: var(--accent-color);
    transform: scale(1.1);
  }
}

.toggle {
  justify-self: flex-end;
}
