.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  backdrop-filter: blur(10px);

  // .dark {
  //   background-color: hsla(250, 50%, 12%, 0.7);
  // }

  // .light {
  //   background-color: hsla(250, 50%, 90%, 0.7);
  // }

  @media (min-width: 900px) {
    top: 0;
    width: 100%;
    padding: 0;
    border-right: solid 1px rgba(120, 120, 120, 0.2);

    // &.dark {
    //   background-color: var(--nav-bg-color-dark);
    // }

    // &.light {
    //   background-color: var(--nav-bg-color-light);
    // }
  }
}

.nav {
  font-family: "SF Mono", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--nav-height);
  padding: 0 1rem;

  @media (min-width: 900px) {
    padding: 0 3rem;
  }

  @media (min-width: 1200px) {
    padding: 0 5rem;
  }
}

.logo {
  font-family: "SF Mono", serif;
  font-size: 1.2rem;
  font-weight: 500;

  &.dark {
    color: var(--accent-color-dark);
  }

  &.light {
    color: var(--accent-color-light);
  }

  @media (min-width: 900px) {
    font-size: 1.5rem;
  }
}

.menuContainer {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  // height: calc(100svh - var(--nav-height));
  height: 100vh;
  z-index: -1;

  transform: translateX(100%);
  transition: ease-in-out 0.2s;

  &.dark {
    background-color: var(--nav-bg-color-dark);
  }

  &.light {
    background-color: var(--nav-bg-color-light);
  }

  &.isOpen {
    transform: translateX(0);
  }

  @media (min-width: 900px) {
    position: relative;
    width: fit-content;
    height: 100%;
    flex-direction: row;
    transform: translate(0);
    background-color: transparent;
    z-index: 1;

    &.dark {
      background-color: transparent;
    }

    &.light {
      background-color: transparent;
    }
  }
}

.menu {
  list-style: none;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  text-align: center;

  @media (min-width: 900px) {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    gap: 1rem;
  }
}

.item {
  &:hover {
    background-color: hsla(240, 50%, 80%, 0.1);

    .link {
      &.dark {
        color: var(--accent-color-dark);
      }

      &.light {
        color: var(--accent-color-light);
      }
    }
  }

  @media (min-width: 900px) {
    &:hover {
      background-color: transparent;
    }
  }
}

.link {
  display: block;
  padding: 1rem 8px;

  &.dark {
    color: var(--text-color-dark);
  }

  &.light {
    color: var(--text-color-light);
  }

  @media (min-width: 900px) {
    padding: 0;
  }
}

.socialMenu {
  list-style: none;
  text-align: center;

  li {
    padding: 1rem;
    position: relative;
  }

  // a:hover {
  //   .tooltip {
  //     visibility: visible;
  //   }
  // }

  @media (min-width: 900px) {
    display: flex;
  }
}

.icon {
  color: var(--text-color-dark);
  font-size: 1.6rem;
  cursor: pointer;

  transition: all ease-out 0.1s;

  &:hover {
    transform: scale(1.1);

    &.dark {
      color: var(--accent-color-dark);
    }

    &.light {
      color: var(--accent-color-light);
    }
  }
}

.toggle {
  justify-self: flex-end;

  padding: 1rem;

  &:hover {
    color: var(--text-color-dark);
  }

  @media (min-width: 900px) {
    padding: 0;
  }
}
