.swiper {
  position: relative;
  display: flex;

  @media (min-width: 768px) {
    overflow: hidden;
  }
}

.swiperInner {
  display: flex;
  // gap: 1rem;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;

  // transform: translate(-calc((1 * 100%)));

  transition: all ease-in 0.3s;

  &::-webkit-scrollbar {
    display: none;
  }

  .img {
    min-width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    img {
      border-radius: 8px;
    }
  }

  @media (min-width: 768px) {
    overflow-x: initial;
  }
}
