// .link {
// }

.btn {
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: transparent;
  padding: 12px 1.2rem;
  border-radius: 3px;

  &.dark {
    border: solid 2px var(--accent-color-dark);
    color: var(--accent-color-dark);
  }

  &.light {
    border: solid 2px var(--accent-color-light);
    color: var(--accent-color-light);
  }

  @media (min-width: 900px) {
  }
}
