// .link {
// }

.btn {
  display: none;
  font-family: "SF Mono", serif;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: solid 2px var(--accent-color);
  color: var(--accent-color);
  padding: 10px 1rem;
  border-radius: 3px;
  transition: all 0.9s;

  @media (min-width: 900px) {
    display: block;
  }
}
