.wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;

  @media (min-width: 900px) {
    flex-direction: row;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  padding: 0 1rem;
  background-color: var(--background-color-dark);

  @media (min-width: 900px) {
    padding: 0 3rem;
  }
}
